cpespikedatafactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "cpespikedatafactory"
		},
		"CosmosDb_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'CosmosDb'"
		},
		"MongoDb_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'MongoDb'"
		},
		"MongoDb2021_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'MongoDb2021'"
		},
		"SQLServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SQLServer'"
		},
		"StorageLinkedServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'StorageLinkedServer'"
		},
		"MongoDbSpikeDatafactory_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'MongoDbSpikeDatafactory'"
		},
		"MongoDb_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "spikeTest"
		},
		"MongoDb2021_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "spikeTest"
		},
		"MongoDbSpikeDatafactory_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "spike"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CalculoSensibilidadesModelo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TRMSensiilidad",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "TRMSensiilidad",
								"type": "DataFlowReference",
								"parameters": {
									"trm": {
										"value": "@pipeline().parameters.trmIN",
										"type": "Expression"
									},
									"Empresa": {
										"value": "'@{pipeline().parameters.Empresa}'",
										"type": "Expression"
									},
									"CuentaAuxiliar": {
										"value": "'@{pipeline().parameters.CuentaAuxiliar}'",
										"type": "Expression"
									},
									"CuentaObjeto": {
										"value": "'@{pipeline().parameters.CuentaObjeto}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"SQL": {},
									"SQLOutput": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"trmIN": {
						"type": "float",
						"defaultValue": 1000
					},
					"Empresa": {
						"type": "string"
					},
					"CuentaObjeto": {
						"type": "string"
					},
					"CuentaAuxiliar": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/TRMSensiilidad')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StorageToMongo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "StorageToMongo",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "ctnspikedatafactory/input/inData.csv"
							},
							{
								"name": "Destination",
								"value": "spikeReales"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "MongoDbV2Sink",
								"writeBatchTimeout": "00:30:00",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Escenario",
											"type": "String"
										},
										"sink": {
											"path": "Escenario"
										}
									},
									{
										"source": {
											"name": "CuentaAuxiliar",
											"type": "String"
										},
										"sink": {
											"path": "CuentaAuxiliar"
										}
									},
									{
										"source": {
											"name": "CuentaObjeto",
											"type": "String"
										},
										"sink": {
											"path": "CuentaObjeto"
										}
									},
									{
										"source": {
											"name": "Anio",
											"type": "String"
										},
										"sink": {
											"path": "Anio"
										}
									},
									{
										"source": {
											"name": "Mes",
											"type": "String"
										},
										"sink": {
											"path": "Mes"
										}
									},
									{
										"source": {
											"name": "Libro",
											"type": "String"
										},
										"sink": {
											"path": "Libro"
										}
									},
									{
										"source": {
											"name": "CentroResponsabilidad",
											"type": "String"
										},
										"sink": {
											"path": "CentroResponsabilidad"
										}
									},
									{
										"source": {
											"name": "CodigoEmpresa",
											"type": "String"
										},
										"sink": {
											"path": "CodigoEmpresa"
										}
									},
									{
										"source": {
											"name": "CodigoCompania",
											"type": "String"
										},
										"sink": {
											"path": "CodigoCompania"
										}
									},
									{
										"source": {
											"name": "ValorOrigen",
											"type": "String"
										},
										"sink": {
											"path": "ValorOrigen"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_9vz",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_9vz",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_9vz')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_9vz')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StorateToSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "StorateToSQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "ctnspikedatafactory/input/inData.csv"
							},
							{
								"name": "Destination",
								"value": "dbo.SpikeImport"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"dataIntegrationUnits": 8,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Escenario",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Escenario",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CuentaAuxiliar",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CuentaAuxiliar",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CuentaObjeto",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CuentaObjeto",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Anio",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Anio",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Mes",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Mes",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Libro",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Libro",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CentroResponsabilidad",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CentroResponsabilidad",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CodigoEmpresa",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CodigoEmpresa",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CodigoCompania",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CodigoCompania",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ValorOrigen",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ValorOrigen",
											"type": "Double",
											"physicalType": "float"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_e5d",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_e5d",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_e5d')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_e5d')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StoreToSQLServer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "StorageToSQLServer",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "ctnspikedatafactory/input/inData.csv"
							},
							{
								"name": "Destination",
								"value": "14d6fe63-1ca6-4987-8d33-0eb926bd4dfd"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "MongoDbV2Sink",
								"writeBatchTimeout": "00:30:00",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Escenario",
											"type": "String"
										},
										"sink": {
											"path": "$"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_fqs",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_9vz",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_fqs')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_9vz')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Escenario",
						"type": "nvarchar"
					},
					{
						"name": "CuentaAuxiliar",
						"type": "nvarchar"
					},
					{
						"name": "CuentaObjeto",
						"type": "nvarchar"
					},
					{
						"name": "Anio",
						"type": "nvarchar"
					},
					{
						"name": "Mes",
						"type": "nvarchar"
					},
					{
						"name": "Libro",
						"type": "nvarchar"
					},
					{
						"name": "CentroResponsabilidad",
						"type": "nvarchar"
					},
					{
						"name": "CodigoEmpresa",
						"type": "nvarchar"
					},
					{
						"name": "CodigoCompania",
						"type": "nvarchar"
					},
					{
						"name": "ValorOrigen",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ValorOrigenSensibilidad",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SpikeImport"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_5pl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MongoDb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "MongoDbV2Collection",
				"typeProperties": {
					"collection": "spikeReales"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/MongoDb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_9vz')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MongoDbSpikeDatafactory",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "MongoDbV2Collection",
				"schema": [],
				"typeProperties": {
					"collection": "spikeReales"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/MongoDbSpikeDatafactory')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_e5d')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Escenario",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CuentaAuxiliar",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CuentaObjeto",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Anio",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Mes",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Libro",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CentroResponsabilidad",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CodigoEmpresa",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CodigoCompania",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ValorOrigen",
						"type": "float",
						"precision": 53,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SpikeImport"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_5pl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "StorageLinkedServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "inData.csv",
						"folderPath": "input",
						"container": "ctnspikedatafactory"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Escenario",
						"type": "String"
					},
					{
						"name": "CuentaAuxiliar",
						"type": "String"
					},
					{
						"name": "CuentaObjeto",
						"type": "String"
					},
					{
						"name": "Anio",
						"type": "String"
					},
					{
						"name": "Mes",
						"type": "String"
					},
					{
						"name": "Libro",
						"type": "String"
					},
					{
						"name": "CentroResponsabilidad",
						"type": "String"
					},
					{
						"name": "CodigoEmpresa",
						"type": "String"
					},
					{
						"name": "CodigoCompania",
						"type": "String"
					},
					{
						"name": "ValorOrigen",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/StorageLinkedServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_9vz')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "StorageLinkedServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "inData.csv",
						"folderPath": "input",
						"container": "ctnspikedatafactory"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Escenario",
						"type": "String"
					},
					{
						"name": "CuentaAuxiliar",
						"type": "String"
					},
					{
						"name": "CuentaObjeto",
						"type": "String"
					},
					{
						"name": "Anio",
						"type": "String"
					},
					{
						"name": "Mes",
						"type": "String"
					},
					{
						"name": "Libro",
						"type": "String"
					},
					{
						"name": "CentroResponsabilidad",
						"type": "String"
					},
					{
						"name": "CodigoEmpresa",
						"type": "String"
					},
					{
						"name": "CodigoCompania",
						"type": "String"
					},
					{
						"name": "ValorOrigen",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/StorageLinkedServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_e5d')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "StorageLinkedServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "inData.csv",
						"folderPath": "input",
						"container": "ctnspikedatafactory"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Escenario",
						"type": "String"
					},
					{
						"name": "CuentaAuxiliar",
						"type": "String"
					},
					{
						"name": "CuentaObjeto",
						"type": "String"
					},
					{
						"name": "Anio",
						"type": "String"
					},
					{
						"name": "Mes",
						"type": "String"
					},
					{
						"name": "Libro",
						"type": "String"
					},
					{
						"name": "CentroResponsabilidad",
						"type": "String"
					},
					{
						"name": "CodigoEmpresa",
						"type": "String"
					},
					{
						"name": "CodigoCompania",
						"type": "String"
					},
					{
						"name": "ValorOrigen",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/StorageLinkedServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_fqs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "StorageLinkedServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "inData.csv",
						"folderPath": "input",
						"container": "ctnspikedatafactory"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Escenario",
						"type": "String"
					},
					{
						"name": "CuentaAuxiliar",
						"type": "String"
					},
					{
						"name": "CuentaObjeto",
						"type": "String"
					},
					{
						"name": "Anio",
						"type": "String"
					},
					{
						"name": "Mes",
						"type": "String"
					},
					{
						"name": "Libro",
						"type": "String"
					},
					{
						"name": "CentroResponsabilidad",
						"type": "String"
					},
					{
						"name": "CodigoEmpresa",
						"type": "String"
					},
					{
						"name": "CodigoCompania",
						"type": "String"
					},
					{
						"name": "ValorOrigen",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/StorageLinkedServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CosmosDb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"connectionString": "[parameters('CosmosDb_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MongoDb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "MongoDbV2",
				"typeProperties": {
					"connectionString": "[parameters('MongoDb_connectionString')]",
					"database": "[parameters('MongoDb_properties_typeProperties_database')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MongoDb2021')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "MongoDbV2",
				"typeProperties": {
					"connectionString": "[parameters('MongoDb2021_connectionString')]",
					"database": "[parameters('MongoDb2021_properties_typeProperties_database')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('SQLServer_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StorageLinkedServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('StorageLinkedServer_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MongoUpdate')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SourceDataset_9vz",
								"type": "DatasetReference"
							},
							"name": "Mongo"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTableNEW",
								"type": "DatasetReference"
							},
							"name": "MontoTO"
						}
					],
					"transformations": [
						{
							"name": "UpdateField"
						},
						{
							"name": "TRM"
						}
					],
					"script": "parameters{\n\tTRM as double (1.00)\n}\nsource(output(\n\t\tEscenario as string,\n\t\tCuentaAuxiliar as string,\n\t\tCuentaObjeto as string,\n\t\tAnio as string,\n\t\tMes as string,\n\t\tLibro as string,\n\t\tCentroResponsabilidad as string,\n\t\tCodigoEmpresa as string,\n\t\tCodigoCompania as string,\n\t\tValorOrigen as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tpartitionBy('roundRobin', 2)) ~> Mongo\nMongo alterRow(updateIf(true())) ~> UpdateField\nUpdateField derive(ValorOrigenSensibilidad = ValorOrigen) ~> TRM\nTRM sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tId as integer,\n\t\tEscenario as string,\n\t\tCuentaAuxiliar as string,\n\t\tCuentaObjeto as string,\n\t\tAnio as string,\n\t\tMes as string,\n\t\tLibro as string,\n\t\tCentroResponsabilidad as string,\n\t\tCodigoEmpresa as string,\n\t\tCodigoCompania as string,\n\t\tValorOrigen as double,\n\t\tValorOrigenSensibilidad as double\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> MontoTO"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_9vz')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTableNEW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TRMSensiilidad')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable",
								"type": "DatasetReference"
							},
							"name": "SQL"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable",
								"type": "DatasetReference"
							},
							"name": "SQLOutput"
						}
					],
					"transformations": [
						{
							"name": "UpdateROW"
						},
						{
							"name": "TRMSensibilidad"
						}
					],
					"script": "parameters{\n\ttrm as double (1.00),\n\tEmpresa as string,\n\tCuentaAuxiliar as string,\n\tCuentaObjeto as string\n}\nsource(output(\n\t\tId as integer,\n\t\tEscenario as string,\n\t\tCuentaAuxiliar as string,\n\t\tCuentaObjeto as string,\n\t\tAnio as string,\n\t\tMes as string,\n\t\tLibro as string,\n\t\tCentroResponsabilidad as string,\n\t\tCodigoEmpresa as string,\n\t\tCodigoCompania as string,\n\t\tValorOrigen as double,\n\t\tValorOrigenSensibilidad as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> SQL\nSQL alterRow(updateIf(CodigoEmpresa==$Empresa||CuentaAuxiliar==$CuentaAuxiliar||CuentaObjeto==$CuentaObjeto),\n\tpartitionBy('roundRobin', 2)) ~> UpdateROW\nUpdateROW derive(ValorOrigenSensibilidad = ValorOrigen/$trm,\n\tpartitionBy('roundRobin', 2)) ~> TRMSensibilidad\nTRMSensibilidad sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tId as integer,\n\t\tEscenario as string,\n\t\tCuentaAuxiliar as string,\n\t\tCuentaObjeto as string,\n\t\tAnio as string,\n\t\tMes as string,\n\t\tLibro as string,\n\t\tCentroResponsabilidad as string,\n\t\tCodigoEmpresa as string,\n\t\tCodigoCompania as string,\n\t\tValorOrigen as double,\n\t\tValorOrigenSensibilidad as double\n\t),\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:true,\n\tupsertable:false,\n\tkeys:['Id'],\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> SQLOutput"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLAplicarSensibilidades')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable",
								"type": "DatasetReference"
							},
							"name": "SQL"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTableNEW",
								"type": "DatasetReference"
							},
							"name": "Mongo"
						}
					],
					"transformations": [
						{
							"name": "Sensibilidadades"
						}
					],
					"script": "source(output(\n\t\tId as integer,\n\t\tEscenario as string,\n\t\tCuentaAuxiliar as string,\n\t\tCuentaObjeto as string,\n\t\tAnio as string,\n\t\tMes as string,\n\t\tLibro as string,\n\t\tCentroResponsabilidad as string,\n\t\tCodigoEmpresa as string,\n\t\tCodigoCompania as string,\n\t\tValorOrigen as double,\n\t\tValorOrigenSensibilidad as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table',\n\tpartitionBy('roundRobin', 2)) ~> SQL\nSQL alterRow(updateIf(true()),\n\tpartitionBy('roundRobin', 2)) ~> Sensibilidadades\nSensibilidadades sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tId as integer,\n\t\tEscenario as string,\n\t\tCuentaAuxiliar as string,\n\t\tCuentaObjeto as string,\n\t\tAnio as string,\n\t\tMes as string,\n\t\tLibro as string,\n\t\tCentroResponsabilidad as string,\n\t\tCodigoEmpresa as string,\n\t\tCodigoCompania as string,\n\t\tValorOrigen as double,\n\t\tValorOrigenSensibilidad as double\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> Mongo"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTableNEW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MongoDbSpikeDatafactory')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "MongoDbV2",
				"typeProperties": {
					"connectionString": "[parameters('MongoDbSpikeDatafactory_connectionString')]",
					"database": "[parameters('MongoDbSpikeDatafactory_properties_typeProperties_database')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLToMongo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SQLToMongo",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SQLAplicarSensibilidades",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "MongoDbV2Sink",
								"writeBatchTimeout": "00:30:00",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32"
										},
										"sink": {
											"path": "id"
										}
									},
									{
										"source": {
											"name": "Escenario",
											"type": "String"
										},
										"sink": {
											"path": "Escenario"
										}
									},
									{
										"source": {
											"name": "CuentaAuxiliar",
											"type": "String"
										},
										"sink": {
											"path": "CuentaAuxiliar"
										}
									},
									{
										"source": {
											"name": "CuentaObjeto",
											"type": "String"
										},
										"sink": {
											"path": "CuentaObjeto"
										}
									},
									{
										"source": {
											"name": "Anio",
											"type": "String"
										},
										"sink": {
											"path": "Anio"
										}
									},
									{
										"source": {
											"name": "Mes",
											"type": "String"
										},
										"sink": {
											"path": "Mes"
										}
									},
									{
										"source": {
											"name": "Libro",
											"type": "String"
										},
										"sink": {
											"path": "Libro"
										}
									},
									{
										"source": {
											"name": "CentroResponsabilidad",
											"type": "String"
										},
										"sink": {
											"path": "CentroResponsabilidad"
										}
									},
									{
										"source": {
											"name": "CodigoEmpresa",
											"type": "String"
										},
										"sink": {
											"path": "CodigoEmpresa"
										}
									},
									{
										"source": {
											"name": "CodigoCompania",
											"type": "String"
										},
										"sink": {
											"path": "CodigoCompania"
										}
									},
									{
										"source": {
											"name": "ValorOrigen",
											"type": "Double"
										},
										"sink": {
											"path": "ValorOrigen"
										}
									},
									{
										"source": {
											"name": "ValorOrigenSensibilidad",
											"type": "Double"
										},
										"sink": {
											"path": "ValorOrigenSensibilidad"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_9vz",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SQLAplicarSensibilidades",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "SQLAplicarSensibilidades",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SQL": {},
									"Mongo": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_9vz')]",
				"[concat(variables('factoryId'), '/dataflows/SQLAplicarSensibilidades')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTableNEW')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Escenario",
						"type": "nvarchar"
					},
					{
						"name": "CuentaAuxiliar",
						"type": "nvarchar"
					},
					{
						"name": "CuentaObjeto",
						"type": "nvarchar"
					},
					{
						"name": "Anio",
						"type": "nvarchar"
					},
					{
						"name": "Mes",
						"type": "nvarchar"
					},
					{
						"name": "Libro",
						"type": "nvarchar"
					},
					{
						"name": "CentroResponsabilidad",
						"type": "nvarchar"
					},
					{
						"name": "CodigoEmpresa",
						"type": "nvarchar"
					},
					{
						"name": "CodigoCompania",
						"type": "nvarchar"
					},
					{
						"name": "ValorOrigen",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ValorOrigenSensibilidad",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SpikeImportNew"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLServer')]"
			]
		}
	]
}